# OS
.DS_Store

# R / IDE
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron

# Env
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Caches & outputs
cache/
output/
outputs/
results/
website/_site/
*_files/

# Data & artifacts
data/raw/*
data/reddit/
*.html
*.pdf
*.parquet
*.feather
*.rds
*.Rds
